nav > ul > li {
    display: inline;
    margin-right: 100px;
    text-decoration: none;
    padding: 100px;
    
}
nav li > a {
text-decoration: none;
margin: 0 auto;
}
footer{
    text-align: center;
}
main{
    text-align: center;
}
header{
    padding: 10px;
}
section{
    text-align: justify;
}
.Sally{
    text-align: center;
    font-style: inherit;
    padding: 10px;
    font-size: xx-large;
    border-bottom: double;
    border-top: double;
}
div{
    text-align: center;
}